@media  (min-width:500px){
    .container {
        width: 100%!important;
    }
}
@media (max-width: 768px){
    .container {
    width: 100%!important;
}
}

@media (min-width: 576px){
   .container{
    max-width: 100%!important;
} 
}



